
@{
    ViewBag.Title = "Index";
}

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('../../content/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="~/Home">Trang Chủ <i class="ion-ios-arrow-forward"></i></a></span> <span>Giới thiệu <i class="ion-ios-arrow-forward"></i></span></p>
                <h1 class="mb-3 bread">Tìm hiểu về chúng tôi</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-about">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../../content/images/bg_2.jpg); ">
            </div>
            <div class="col-md-6 wrap-about ftco-animate">
                <div class="heading-section heading-section-white pl-md-5" style="text-align: justify">
                    <span class="subheading">Về chúng tôi</span>
                    <h2 class="mb-4" style="text-align: center">Chào mừng bạn đến với dịch vụ Thuê xe xáy - Vinh</h2>

                    <p>Với nhiều danh lam thắng cảnh, di tích lịch sử, các điểm vui chơi, giải trí, thành phố Vinh, tỉnh Nghệ An là điểm đến không thể bỏ qua trong kỳ nghỉ lễ.</p>
                    <p>Hiện nay, do nhu cầu du lịch phiêu lưu, khám phá tăng cao, các địa điểm du lịch đường đèo, đường núi, địa hình khó di chuyển lại là điểm đến được nhiều bạn trẻ có đam mê chinh phục lựa chọn. Bởi tính chất đặc thù của hình thức du lịch này mà xe máy trở thành phương tiện phù hợp, được ưu tiên sử dụng. Từ đó dịch vụ cho thuê xe máy tại Vinh ra đời và ngày một phổ biến.</p>
                    <p><a href="~/Cars" class="btn btn-primary py-3 px-4">Tìm phương tiện </a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Dịch vụ</span>
                <h2 class="mb-3">Các dịch vụ đi kèm</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="fas fa-money-check-alt"></span></div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">KHÔNG TIỀN ĐẶT CỌC</h3>
                        <p>Khách hàng không phải đặt cọc bất cứ khoản tiền cho việc thuê xe máy nào nếu có đầy đủ các giấy tờ yêu cầu được quy định trong chính sách của cty. Chi tiết thủ tục giấy tờ vui lòng xem tại mục chính sách thuê xe của chúng tôi.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="fas fa-motorcycle"></span></div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">100% XE ĐỜI MỚI</h3>
                        <p>Thuê xe máy Vinh cho nhiều đầu xe các loại, xe ga, xe số, xe côn tay của các hãng Honda, Yamaha, Piaggio, Sym ... phù hợp cho cả nam và nữ cũng như tất cả độ tuổi.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="fas fa-map-marked"></span></div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">DỊCH VỤ GIAO, TRẢ XE TẬN NƠI</h3>
                        <p>Chúng tôi cung cấp dich vụ giao xe tận nơi cho bạn với một khoản phí phát sinh thấp. Chi phí giao xe sẽ được tính toán theo địa điểm giao nhận xe của khách và phí mỗi lần không vượt quá 40k.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="far fa-money-bill-alt"></span></div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">ĐI BAO NHIÊU THANH TOÁN BẤY NHIÊU</h3>
                        <p>Từ ngày thuê xe thứ 2 trở đi cách tính giá thuê xe theo giờ sẽ được áp dụng, với mỗi giờ phát sinh của xe số chúng tôi sẽ thu thêm 15k, xe tay ga là 20k. Thuê xe quá 9 tiếng sẽ được tính tròn 1 ngày thuê xe. Trả xe sớm sẽ hoàn tiền thừa lại cho bạn</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section testimony-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading"><i>Nhà Sáng lập</i></span>
                <h2 class="mb-2">Thành viên nhóm</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    <div class="item">
                        <div class="testimony-wrap rounded text-center py-4 pb-5">
                            <div class="user-img mb-2" style="background-image: url(../../content/images/member/1.jpg)">
                            </div>
                            <div class="text pt-4">
                                <p class="name">Trần Đức Tài</p>
                                <span class="position">Nhóm trưởng</span>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="testimony-wrap rounded text-center py-4 pb-5">
                            <div class="user-img mb-2" style="background-image: url(../../content/images/member/2.jpg)">
                            </div>
                            <div class="text pt-4">
                                <p class="name">Nguyễn Tú Thái</p>
                                <span class="position">Thành viên</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap rounded text-center py-4 pb-5">
                            <div class="user-img mb-2" style="background-image: url(../../content/images/member/3.jpg)">
                            </div>
                            <div class="text pt-4">
                                <p class="name">Nguyễn Bá Tài</p>
                                <span class="position">Thành viên</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap rounded text-center py-4 pb-5">
                            <div class="user-img mb-2" style="background-image: url(../../content/images/member/4.jpg)">
                            </div>
                            <div class="text pt-4">
                                <p class="name">Lê Đức Tài</p>
                                <span class="position">Thành viên</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
