
@{
    ViewBag.Title = "FAQs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('../../content/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="~/Home">Trang Chủ <i class="ion-ios-arrow-forward"></i></a></span></p>
                <h1 class="mb-3 bread">Điều khoản và dịch vụ</h1>
            </div>
        </div>
    </div>
</section>
<div class="privacy-container">
    <div class="container faq-container">
        <div class="accordion" id="faqs-acc"><br />
            <div class="card">
                <div class="card-header" id="heading-faq-1">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-faq-1" aria-expanded="false" aria-controls="collapse-faq-1">
                            1.Thuê xe máy không cần hộ khẩu có được không?
                        </button>
                    </h2>
                </div>
                <div id="collapse-faq-1" class="collapse" aria-labelledby="heading-faq-1" data-parent="#faqs-acc" style="">
                    <div class="card-body">
                        Chào bạn, bên mình có nhiều chính sách thuê xe khách nhau. Sổ hộ khẩu + cmt chỉ là 1 trong những cách đấy. Nếu bạn là khách du lịch có thể dùng cmt+ thông tin vé máy bay chiều đến và rời Hà Nội là có thể thuê đươc. Ngoài ra nếu ko có shk mà chỉ có mỗi cmnd bạn cũng có thể thuê được nếu đặt cọc 3tr thay cho sổ hộ khẩu.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading-faq-2">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-faq-2" aria-expanded="false" aria-controls="collapse-faq-2">
                            2.Tôi muốn thuê xe 1 tháng có được không? thủ tục thuê xe như thế nào?
                        </button>
                    </h2>
                </div>
                <div id="collapse-faq-2" class="collapse" aria-labelledby="heading-faq-2" data-parent="#faqs-acc" style="">
                    <div class="card-body">
                        Chào bạn, bạn hoàn toàn có thể thuê xe bên mình 1 tháng hoặc nhiều hơn thế ạ.

                        Thủ tục thuê xe cho khách đi dài tương tự như khách thuê ngắn ngày. Nếu là khách du lịch, công tác dài ngày, sẽ bao gồm Chứng minh Nhân dân + thông tin vé máy bay đến/rời hoặc giấy xác nhận công tác.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading-faq-3">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-faq-3" aria-expanded="false" aria-controls="collapse-faq-3">
                            3.Đặt xe có cần đặt cọc trước không?
                        </button>
                    </h2>
                </div>
                <div id="collapse-faq-3" class="collapse" aria-labelledby="heading-faq-3" data-parent="#faqs-acc" style="">
                    <div class="card-body">
                        Chào bạn nha! Nếu bạn cần đặt xe thì chỉ cần cung cấp thông tin cá nhân ( số điện thoại, họ tên, email ) và lịch nhận xe + số lượng &amp;, địa điểm nhận xe thôi ạ.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading-faq-4">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-faq-4" aria-expanded="false" aria-controls="collapse-faq-4">
                            4.Sirius bên bạn là đời bao nhiêu? Còn mới không ạ?
                        </button>
                    </h2>
                </div>
                <div id="collapse-faq-4" class="collapse " aria-labelledby="heading-faq-4" data-parent="#faqs-acc">
                    <div class="card-body">
                        Chào bạn, Sirius của bên mình luôn luôn còn mới. Khoảng 1.5 - 2 năm bên mình sẽ bán xe cũ và nhập lại 1 lô xe mới 1 lần. Mỗi xe được khách hàng trả về sẽ ngay lập tức được bộ phận kỹ thuật kiểm tra, bảo dưỡng lại và luôn đảm bảo đạt chuẩn an toàn khi giao cho vị khách hàng tiếp theo.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading-faq-5">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-faq-5" aria-expanded="false" aria-controls="collapse-faq-5">
                            5.Nếu khách nước ngoài thuê xe thì thủ tục như thế nào vậy bạn?
                        </button>
                    </h2>
                </div>
                <div id="collapse-faq-5" class="collapse " aria-labelledby="heading-faq-5" data-parent="#faqs-acc">
                    <div class="card-body">
                        Chào bạn nha! Nếu khách nước ngoài thuê xe bên mình thì sẽ chỉ cần nhận hộ chiếu hoặc ID card Hoặc bạn ấy có thể để lại bất kỳ 01 giấy tờ cá nhân có ảnh của bạn ấy là được ạ. Ngoài ra, bắt buộc người nước ngoài phải có bằng lái xe quốc tế được chấp nhận tại Việt Nam, hoặc bằng lái xe Việt Nam.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading-faq-6">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-faq-6" aria-expanded="false" aria-controls="collapse-faq-6">
                            6.Mình có thể liên hệ đặt xe qua đâu được ?
                        </button>
                    </h2>
                </div>
                <div id="collapse-faq-6" class="collapse " aria-labelledby="heading-faq-6" data-parent="#faqs-acc">
                    <div class="card-body">
                        Chào bạn nha! Bạn liên hệ giúp mình qua số 0371234567 hoặc bạn có thể đặt xe trực tiếp trên website bên mình, sau đó sẽ có CSKH chủ động liên hệ chốt lại với bạn 1 lần nữa nha!
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading-faq-7">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-faq-7" aria-expanded="false" aria-controls="collapse-faq-7">
                            7.Cửa hàng mình vào các ngày lễ vẫn làm việc bình thường chứ ạ?
                        </button>
                    </h2>
                </div>
                <div id="collapse-faq-7" class="collapse " aria-labelledby="heading-faq-7" data-parent="#faqs-acc">
                    <div class="card-body">
                        Chào bạn nha! Hệ thống của Thuê xe máy - Vinh làm việc 365 ngày. Riêng dịp tết nguyên đán thì Thuê xe máy - Vinh sẽ thực hiện giao trả xe cho những khách hàng book lịch trước ngày 26 tết ạ.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading-faq-8">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-faq-8" aria-expanded="false" aria-controls="collapse-faq-8">
                            8.Mũ bảo hiểm bên bạn có những loại nào vậy?
                        </button>
                    </h2>
                </div>
                <div id="collapse-faq-8" class="collapse " aria-labelledby="heading-faq-8" data-parent="#faqs-acc">
                    <div class="card-body">
                        Chào bạn nha! Hiện tại bên mình có 2 dòng mũ bảo hiểm là mũ 1/2 và mũ 3/4 ạ có kinh và không có kinh ạ.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading-faq-9">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-faq-9" aria-expanded="false" aria-controls="collapse-faq-9">
                            9.Thủ tục thuê xe gồm những giấy tờ gì?
                        </button>
                    </h2>
                </div>
                <div id="collapse-faq-9" class="collapse " aria-labelledby="heading-faq-9" data-parent="#faqs-acc">
                    <div class="card-body">
                        Thủ tục thuê xe máy của Thuê xe máy - Vinh sẽ chia theo từng nhóm đối tượng khác nhau:

                        Khách du lịch, thủ tục thuê xe sẽ gồm có CMND hoặc một giấy tờ tùy thân khác + thông tin vé máy bay chiều đến và rời Hà Nội.

                        Với khách địa phương đang sống ở Hà Nội, sẽ là CMND + sổ hộ khẩu. Nếu không có sổ hộ khẩu sẽ thay thế bằng đặt cọc 3 triệu đồng.

                        Khach nước ngoài, sẽ là ID card hoặc passport.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
