USE [master]
GO
/****** Object:  Database [RENT_MOTOR]    Script Date: 24-May-23 2:53:00 PM ******/
CREATE DATABASE [RENT_MOTOR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RENT_MOTOR', FILENAME = N'D:\RENT_MOTOR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RENT_MOTOR_log', FILENAME = N'D:\RENT_MOTOR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RENT_MOTOR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RENT_MOTOR]
GO
/****** Object:  Table [dbo].[bike]    Script Date: 24-May-23 2:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bike](
	[id_bike] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[image] [nvarchar](100) NULL,
	[price] [int] NULL,
	[IsActive] [bit] NULL,
	[id_type] [int] NULL,
	[IsHot] [bit] NULL,
	[describe] [nvarchar](max) NULL,
	[mass] [nchar](10) NULL,
	[volumn] [nchar](10) NULL,
	[size] [nchar](30) NULL,
	[consume] [nchar](30) NULL,
	[status] [nchar](10) NULL,
 CONSTRAINT [Pk_bike] PRIMARY KEY CLUSTERED 
(
	[id_bike] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill]    Script Date: 24-May-23 2:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill](
	[id_bill] [int] IDENTITY(1,1) NOT NULL,
	[id_rent] [int] NOT NULL,
	[money_hour] [int] NULL,
	[date_start] [datetime] NULL,
	[date_end] [datetime] NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_nill] PRIMARY KEY CLUSTERED 
(
	[id_bill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blog]    Script Date: 24-May-23 2:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NULL,
	[image] [nvarchar](100) NULL,
	[head] [nvarchar](200) NULL,
	[content] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[date] [date] NULL,
 CONSTRAINT [PK_blog] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comment]    Script Date: 24-May-23 2:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment](
	[id_cmt] [int] IDENTITY(1,1) NOT NULL,
	[id] [int] NULL,
	[name] [nvarchar](50) NULL,
	[content] [nvarchar](500) NULL,
	[date] [date] NULL,
 CONSTRAINT [PK_comment] PRIMARY KEY CLUSTERED 
(
	[id_cmt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contact]    Script Date: 24-May-23 2:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contact](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](50) NULL,
	[phone] [nvarchar](15) NULL,
	[email] [nvarchar](50) NULL,
	[facebook_link] [nvarchar](100) NULL,
 CONSTRAINT [PK__contact__DDDF328E0B62B1D8] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 24-May-23 2:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[id_employee] [int] IDENTITY(1,1) NOT NULL,
	[account] [nvarchar](20) NULL,
	[pass] [nvarchar](30) NULL,
	[name] [nvarchar](50) NULL,
	[fulControl] [bit] NULL,
 CONSTRAINT [pk_employee] PRIMARY KEY CLUSTERED 
(
	[id_employee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mail]    Script Date: 24-May-23 2:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mail](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Phone] [nvarchar](15) NULL,
	[Email] [nvarchar](150) NULL,
	[Message] [nvarchar](max) NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menu]    Script Date: 24-May-23 2:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NULL,
	[link] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[order] [int] NULL,
 CONSTRAINT [PK_menu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rate]    Script Date: 24-May-23 2:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rate](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[job] [nvarchar](50) NULL,
	[content] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[image] [nvarchar](100) NULL,
 CONSTRAINT [PK_rate] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rent]    Script Date: 24-May-23 2:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rent](
	[id_rent] [int] IDENTITY(1,1) NOT NULL,
	[note] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[phone] [nvarchar](20) NULL,
	[mail] [nvarchar](50) NULL,
	[date] [datetime] NULL,
 CONSTRAINT [PK_rent] PRIMARY KEY CLUSTERED 
(
	[id_rent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rentDetails]    Script Date: 24-May-23 2:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rentDetails](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_rent] [int] NOT NULL,
	[id_bike] [int] NULL,
	[amount] [int] NULL,
 CONSTRAINT [PK_rentDetails] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[type]    Script Date: 24-May-23 2:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type](
	[id_type] [int] IDENTITY(1,1) NOT NULL,
	[type] [nvarchar](50) NOT NULL,
	[price_hour] [int] NULL,
	[price_day] [int] NULL,
	[price_month] [int] NULL,
	[image] [nvarchar](100) NULL,
 CONSTRAINT [PK_type] PRIMARY KEY CLUSTERED 
(
	[id_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bike] ON 

SET IDENTITY_INSERT [dbo].[bike] OFF
GO
SET IDENTITY_INSERT [dbo].[bill] ON 

INSERT [dbo].[bill] ([id_bill], [id_rent], [money_hour], [date_start], [date_end], [status]) VALUES (2, 12, 60000, CAST(N'2022-12-27T19:19:47.550' AS DateTime), CAST(N'2022-12-27T22:59:23.770' AS DateTime), N'Hoàn thành')
INSERT [dbo].[bill] ([id_bill], [id_rent], [money_hour], [date_start], [date_end], [status]) VALUES (3, 15, 85000, CAST(N'2022-12-27T22:59:42.133' AS DateTime), CAST(N'2022-12-28T22:21:01.027' AS DateTime), N'Hoàn thành')
INSERT [dbo].[bill] ([id_bill], [id_rent], [money_hour], [date_start], [date_end], [status]) VALUES (4, 16, 90000, CAST(N'2022-12-28T23:33:53.187' AS DateTime), CAST(N'2023-01-01T12:54:47.893' AS DateTime), N'Hoàn thành')
SET IDENTITY_INSERT [dbo].[bill] OFF
GO
SET IDENTITY_INSERT [dbo].[blog] ON 

SET IDENTITY_INSERT [dbo].[blog] OFF
GO
SET IDENTITY_INSERT [dbo].[comment] ON 

INSERT [dbo].[comment] ([id_cmt], [id], [name], [content], [date]) VALUES (4, 1, N'Trần Đức Tài ', N'!!!!!', CAST(N'2022-12-10' AS Date))
INSERT [dbo].[comment] ([id_cmt], [id], [name], [content], [date]) VALUES (5, 1, N'Trần Đức Tài ', N'!!!!', CAST(N'2022-12-10' AS Date))
INSERT [dbo].[comment] ([id_cmt], [id], [name], [content], [date]) VALUES (16, 1, N'Trần Đức Tài ', N'ok', CAST(N'2022-12-14' AS Date))
SET IDENTITY_INSERT [dbo].[comment] OFF
GO
SET IDENTITY_INSERT [dbo].[contact] ON 

INSERT [dbo].[contact] ([id], [address], [phone], [email], [facebook_link]) VALUES (1, N'182 Lê Duẩn, Vinh, Nghệ An', N'0371234567', N'Thuexemayvinh@gmail.com', N'https://www.facebook.com/profile.php?id=100088474176523')
SET IDENTITY_INSERT [dbo].[contact] OFF
GO
SET IDENTITY_INSERT [dbo].[employee] ON 

INSERT [dbo].[employee] ([id_employee], [account], [pass], [name], [fulControl]) VALUES (1, N'admin               ', N'123456', N'Đức Tài', 1)
INSERT [dbo].[employee] ([id_employee], [account], [pass], [name], [fulControl]) VALUES (3, N'employye', N'employye', N'Nhân Viên', 0)
SET IDENTITY_INSERT [dbo].[employee] OFF
GO
SET IDENTITY_INSERT [dbo].[mail] ON 

INSERT [dbo].[mail] ([ContactId], [Name], [Phone], [Email], [Message], [IsRead], [CreatedDate]) VALUES (9, N'Phan Van Linh', N'0371234567', N'dbdsdos671@ondania.com', N'Test!!!', 1, CAST(N'2022-12-13T22:47:22.207' AS DateTime))
SET IDENTITY_INSERT [dbo].[mail] OFF
GO
SET IDENTITY_INSERT [dbo].[menu] ON 

INSERT [dbo].[menu] ([id], [title], [link], [IsActive], [order]) VALUES (1, N'TRANG CHỦ', N'../Home', 1, 1)
INSERT [dbo].[menu] ([id], [title], [link], [IsActive], [order]) VALUES (2, N'GIỚI THIỆU', N'../About', 1, 2)
INSERT [dbo].[menu] ([id], [title], [link], [IsActive], [order]) VALUES (3, N'XE', N'../Cars', 1, 3)
SET IDENTITY_INSERT [dbo].[menu] OFF
GO
SET IDENTITY_INSERT [dbo].[rate] ON 

INSERT [dbo].[rate] ([id], [name], [job], [content], [IsActive], [image]) VALUES (1, N'Đinh Nhật Thông', N'Công nhân', N'Nhân viên rất thân thiện và chuyên nghiệp, tư vấn rất kỹ về những dịch vụ mà họ cung cấp, giá thành rất hợp lý và cái quan trọng rằng họ bán đúng như những gì mà đã giới thiệu trước đó, tôi đã đặt trọn gói cho dv vé vinpearl land, xe máy và tour , xin cảm ơn.', 1, N'/Content/images/rate/nx3.jpg')
INSERT [dbo].[rate] ([id], [name], [job], [content], [IsActive], [image]) VALUES (2, N'Nguyễn Thị Hà', N'Giáo viên', N'Công ty chúng tôi đã sử dụng dịch vụ ở đây để giúp khách hàng bên chúng tôi có được 1 chuyến du lịch Đà Nẵng trọn vẹn. Chúng tôi cảm thấy rất hài lòng về sự nhiệt tình, thân thiện, vui vẻ và hỗ trợ rất nhanh của bạn chủ cũng như nhân viên. Rất xứng đáng để được đánh giá 5* !.', 1, N'/Content/images/rate/nx1.jpg')
INSERT [dbo].[rate] ([id], [name], [job], [content], [IsActive], [image]) VALUES (3, N'Nguyễn Tú Thái', N'Nhân viên văn phòng', N'Nhờ các bạn giúp cho chúng tôi có một chuyến du lịch chọn vẹn! Các bạn rất thân thiện làm việc có trách nhiệm! Người dân ở Nghệ An cũng vậy, rất gần gủi … đúng là thành phố đáng sống.', 1, N'/Content/images/rate/nx2.jpg')
SET IDENTITY_INSERT [dbo].[rate] OFF
GO
SET IDENTITY_INSERT [dbo].[rent] ON 

INSERT [dbo].[rent] ([id_rent], [note], [name], [phone], [mail], [date]) VALUES (12, N'', N'Trần Đức Tài', N'0582325013', N'ductaifvr@gmail.com', CAST(N'2022-12-23T22:55:17.320' AS DateTime))
INSERT [dbo].[rent] ([id_rent], [note], [name], [phone], [mail], [date]) VALUES (15, N'', N'Trần Đức Tài', N'0582325013', N'ductaifvr@gmail.com', CAST(N'2022-12-25T22:00:46.287' AS DateTime))
INSERT [dbo].[rent] ([id_rent], [note], [name], [phone], [mail], [date]) VALUES (16, N'', N'Trần Đức Tài', N'0582325013', N'ductaifvr@gmail.com', CAST(N'2022-12-25T22:01:29.353' AS DateTime))
SET IDENTITY_INSERT [dbo].[rent] OFF
GO
SET IDENTITY_INSERT [dbo].[rentDetails] ON 

INSERT [dbo].[rentDetails] ([id], [id_rent], [id_bike], [amount]) VALUES (13, 12, 16, 2)
INSERT [dbo].[rentDetails] ([id], [id_rent], [id_bike], [amount]) VALUES (19, 15, 16, 1)
INSERT [dbo].[rentDetails] ([id], [id_rent], [id_bike], [amount]) VALUES (20, 15, 3, 1)
SET IDENTITY_INSERT [dbo].[rentDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[type] ON 

INSERT [dbo].[type] ([id_type], [type], [price_hour], [price_day], [price_month], [image]) VALUES (1, N'HONDA', 10000, 200000, 3000000, N'/Content/images/honda.jpg')
INSERT [dbo].[type] ([id_type], [type], [price_hour], [price_day], [price_month], [image]) VALUES (2, N'PIAGGIO', 10000, 200000, 3000000, N'/Content/images/piaggio.jpg')
INSERT [dbo].[type] ([id_type], [type], [price_hour], [price_day], [price_month], [image]) VALUES (3, N'SUZUKI', 10000, 200000, 3000000, N'/Content/images/suzuki.jpg')
SET IDENTITY_INSERT [dbo].[type] OFF
GO
ALTER TABLE [dbo].[bike]  WITH NOCHECK ADD  CONSTRAINT [FK_bike_type] FOREIGN KEY([id_type])
REFERENCES [dbo].[type] ([id_type])
GO
ALTER TABLE [dbo].[bike] NOCHECK CONSTRAINT [FK_bike_type]
GO
ALTER TABLE [dbo].[bill]  WITH CHECK ADD  CONSTRAINT [FK_bill_rent] FOREIGN KEY([id_rent])
REFERENCES [dbo].[rent] ([id_rent])
GO
ALTER TABLE [dbo].[bill] CHECK CONSTRAINT [FK_bill_rent]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FK_comment_blog] FOREIGN KEY([id])
REFERENCES [dbo].[blog] ([id])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FK_comment_blog]
GO
ALTER TABLE [dbo].[rentDetails]  WITH CHECK ADD  CONSTRAINT [FK_rentDetails_bike] FOREIGN KEY([id_bike])
REFERENCES [dbo].[bike] ([id_bike])
GO
ALTER TABLE [dbo].[rentDetails] CHECK CONSTRAINT [FK_rentDetails_bike]
GO
ALTER TABLE [dbo].[rentDetails]  WITH CHECK ADD  CONSTRAINT [FK_rentDetails_rent] FOREIGN KEY([id_rent])
REFERENCES [dbo].[rent] ([id_rent])
GO
ALTER TABLE [dbo].[rentDetails] CHECK CONSTRAINT [FK_rentDetails_rent]
GO
USE [master]
GO
